Student Engagement Monitor Automation.blueprint.json
{
    "name": "Student Engagement Monitor Automation",
    "flow": [
        {
            "id": 2,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6615473,
                "mode": "map",
                "includesHeaders": true,
                "limit": 10,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "spreadsheetId": "/1b_N_l3DEBAgzgcKoFZG4D8alyvYXZijjX1yEzMzN39Y",
                "sheetId": "Sheet1",
                "tableFirstRow": "A1:J1"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (lennismbrown@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        },
                        "mode": {
                            "label": "Enter manually"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "Student Name (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "Email (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "Course Name (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "Progress % (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "Last Activity Date (E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "Days Inactive (F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "Status (G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "Enrolled Date (H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "Student ID (I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "Completion Date (J)",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.`6`}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 27,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 6505404,
                                "saveAfterSent": false
                            },
                            "filter": {
                                "name": "At-risk: low progress",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.`1`}}exists AND {{2.`1`}}contains@",
                                            "b": "",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{2.`1`}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Hi {{2.`0`}},<br><br>\r\nThere has been a noticeable slowdown in your activity in <b>{{2.`2`}}</b>, and your current progress suggests you may be at risk of falling behind the class pace.<br><br>\r\nTo help you get back on track, here are your next best steps:<br>\r\n1. Log in and complete your next lesson this week.<br>\r\n2. Review any missed modules or quizzes from your dashboard.<br>\r\n3. Reply to this email if you’d like personalized guidance or have questions about the material.<br><br>\r\nYour success in this course is important, and small, consistent actions now can make a big difference by the end of the term.<br><br>\r\nBest regards,<br>\r\nYour Course Support Team\r\n",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "Quick check‑in about your progress in {{2.`2`}}",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [],
                                "contentType": "html"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "HTML"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "microsoft-smtp-imap"
                                            },
                                            "label": "My Microsoft SMTP/IMAP OAuth connection (lennismbrown@gmail.com)"
                                        },
                                        "saveAfterSent": {
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6285186
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "4": "{{2.`4`}}",
                                    "5": "{{2.`5`}}",
                                    "6": "At risk"
                                },
                                "sheetId": "Sheet1",
                                "rowNumber": "{{2.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "/1b_N_l3DEBAgzgcKoFZG4D8alyvYXZijjX1yEzMzN39Y",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Student Engagement"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Student Name (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Email (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Course Name (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Progress % (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Last Activity Date (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Days Inactive (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Status (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Enrolled Date (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Student ID (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Completion Date (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (lennismbrown@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Student Name (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Email (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Course Name (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Progress % (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Last Activity Date (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Days Inactive (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Status (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Enrolled Date (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Student ID (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Completion Date (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 30,
                            "module": "hubspotcrm:updateCustomObject",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6535733
                            },
                            "mapper": {
                                "id": "{{27.messageId}}",
                                "objectType": "2-222321437",
                                "properties": [
                                    {
                                        "key": "student_name",
                                        "value": "{{2.`0`}}"
                                    },
                                    {
                                        "key": "course_name",
                                        "value": "{{2.`2`}}"
                                    },
                                    {
                                        "key": "student_email",
                                        "value": "{{2.`1`}}"
                                    },
                                    {
                                        "key": "last_activity_date",
                                        "value": "{{2.`4`}}"
                                    },
                                    {
                                        "key": "days_inactive",
                                        "value": "{{2.`5`}}"
                                    }
                                ],
                                "parseCustomFields": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "objectType": {
                                            "label": "students"
                                        },
                                        "properties": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "key": {
                                                        "mode": "chose",
                                                        "label": "Student Name"
                                                    }
                                                },
                                                {
                                                    "key": {
                                                        "mode": "chose",
                                                        "label": "Course Name"
                                                    }
                                                },
                                                {
                                                    "key": {
                                                        "mode": "chose",
                                                        "label": "Student Email"
                                                    }
                                                },
                                                {
                                                    "key": {
                                                        "mode": "chose",
                                                        "label": "Last_Activity_Date"
                                                    }
                                                },
                                                {
                                                    "key": {
                                                        "mode": "chose",
                                                        "label": "Days_Inactive"
                                                    }
                                                }
                                            ]
                                        },
                                        "parseCustomFields": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "hubspotcrm"
                                            },
                                            "label": "My HubSpot CRM connection (lennismbrown@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:hubspotcrm",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID",
                                        "required": true
                                    },
                                    {
                                        "name": "objectType",
                                        "type": "select",
                                        "label": "Object Schema",
                                        "required": true
                                    },
                                    {
                                        "name": "parseCustomFields",
                                        "type": "boolean",
                                        "label": "Parse Custom Fields",
                                        "required": true
                                    },
                                    {
                                        "name": "properties",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "select",
                                                "label": "Key",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Properties"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 15,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 6525243
                            },
                            "mapper": {
                                "text": "🎓 Student completed {{2.`2`}}\r\nName: {{2.`0`}}\r\nEmail: {{2.`1`}}\r\nProgress: {{2.`3`}}\r\nStatus: {{2.`6`}}",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "C0A28AUAK7F",
                                "channelType": "public",
                                "channelWType": "list"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "student-engagment-completion"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Public channel"
                                        },
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack2"
                                            },
                                            "label": "Slack Connector for Make Automations(DevOps) (slackdevsd09tddr214k.slack.com - lennismbrown)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "Public channel",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 26,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 6505404,
                                "saveAfterSent": false
                            },
                            "filter": {
                                "name": "Inactive: days > threshold",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{`2`}}",
                                            "b": "{{2.`5`}}",
                                            "o": "number:greater"
                                        },
                                        {
                                            "a": "{{2.`1`}}",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{2.`1`}}",
                                            "b": ".+@.+\\..+",
                                            "o": "text:pattern"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{2.`1`}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Hi {{2.`0`}},<br><br>\r\n\r\nThere has been a noticeable slowdown in your activity in <b>{{2.`2`}}</b>, and your current progress suggests you may be at risk of falling behind the class pace.<br><br>\r\n\r\nTo help you get back on track, here are your next best steps:<br>\r\n1. Log in and complete your next lesson this week.<br>\r\n2. Review any missed modules or quizzes from your dashboard.<br>\r\n3. Reply to this email if you’d like personalized guidance or have questions about the material.<br><br>\r\n\r\nYour success in this course is important, and small, consistent actions now can make a big difference by the end of the term.<br><br>\r\n\r\nBest regards,<br>\r\nYour Course Support Team\r\n",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "Quick check‑in about your progress in {{2.`2`}}",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [],
                                "contentType": "html"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "HTML"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "microsoft-smtp-imap"
                                            },
                                            "label": "My Microsoft SMTP/IMAP OAuth connection (lennismbrown@gmail.com)"
                                        },
                                        "saveAfterSent": {
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 29,
                            "module": "hubspotcrm:updateCustomObject",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6535733
                            },
                            "mapper": {
                                "id": "{{26.messageId}}",
                                "objectType": "2-222321437",
                                "parseCustomFields": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "objectType": {
                                            "label": "students"
                                        },
                                        "properties": {
                                            "mode": "chose"
                                        },
                                        "parseCustomFields": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "hubspotcrm"
                                            },
                                            "label": "My HubSpot CRM connection (lennismbrown@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:hubspotcrm",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID",
                                        "required": true
                                    },
                                    {
                                        "name": "objectType",
                                        "type": "select",
                                        "label": "Object Schema",
                                        "required": true
                                    },
                                    {
                                        "name": "parseCustomFields",
                                        "type": "boolean",
                                        "label": "Parse Custom Fields",
                                        "required": true
                                    },
                                    {
                                        "name": "properties",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "select",
                                                "label": "Key",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Properties"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 24,
                            "module": "google-docs:createADocumentFromTemplate",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6285186
                            },
                            "filter": {
                                "name": "Completed: progress 100%",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.`3`}}",
                                            "b": "100",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "name": "{{`2`}}",
                                "select": "dropdown",
                                "document": "/1Ogl9QNFLF91GfTSdXLDcBVkCLMu0gJtt3HnpU8_Svtw",
                                "folderId": "/",
                                "requests": {
                                    "course_name": "{{2.`2`}}",
                                    "student_name": "{{2.`0`}}",
                                    "completion_date": "{{formatDate(now; \" \"\"MMMM DD, YYYY\"\"\")}}"
                                },
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 750
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "select": {
                                            "label": "By Dropdown"
                                        },
                                        "document": {
                                            "path": [
                                                "Udemy Student Certificate Template"
                                            ]
                                        },
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "/"
                                            ]
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (lennismbrown@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Create a Document from a Template",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "dropdown"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "New Drive Location",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "document",
                                        "type": "file",
                                        "label": "Document ID",
                                        "required": true
                                    },
                                    {
                                        "name": "requests",
                                        "spec": [
                                            {
                                                "name": "student_name",
                                                "type": "any"
                                            },
                                            {
                                                "name": "course_name",
                                                "type": "any"
                                            },
                                            {
                                                "name": "completion_date",
                                                "type": "any"
                                            },
                                            {
                                                "name": "certificate_id",
                                                "type": "any"
                                            },
                                            {
                                                "name": "verification_code",
                                                "type": "any"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "New Document's Location",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 25,
                            "module": "google-docs:exportADocument",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6285186
                            },
                            "mapper": {
                                "document": "/1Ogl9QNFLF91GfTSdXLDcBVkCLMu0gJtt3HnpU8_Svtw",
                                "mimeType": "application/pdf",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 750
                                },
                                "restore": {
                                    "expect": {
                                        "document": {
                                            "mode": "chose",
                                            "path": [
                                                "Udemy Student Certificate Template"
                                            ]
                                        },
                                        "mimeType": {
                                            "mode": "chose",
                                            "label": "PDF Document (.pdf)"
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (lennismbrown@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "mimeType",
                                        "type": "select",
                                        "label": "Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                                "application/vnd.oasis.opendocument.text",
                                                "application/rtf",
                                                "application/pdf",
                                                "text/plain",
                                                "text/html",
                                                "application/epub+zip"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "document",
                                        "type": "file",
                                        "label": "Document ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 28,
                            "module": "util:ComposeTransformer",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "value": "{{2.`1`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 750
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "docusign:CreateEnvelope",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6485907
                            },
                            "mapper": {
                                "select_account": "{ \"accountId\": \"4c7ce306-2889-413b-8cd5-03e7fee4eceb\", \"baseUri\": \"https://demo.docusign.net\" }",
                                "status": false,
                                "recipients": {
                                    "Signers": [
                                        {
                                            "email": "{{2.`1`}}",
                                            "name": "{{2.`0`}}",
                                            "recipientId": "1",
                                            "addAccessCodeToEmail": false,
                                            "tabs": {}
                                        }
                                    ]
                                },
                                "emailSubject": "Please sign your course certificate",
                                "emailBlurb": "Hi {{2.`0`}}\r\n,\r\nPlease review and sign your course completion certificate.\r\n\r\nThank you!\r\n",
                                "documents": [
                                    {
                                        "name": "{{25.filename}}",
                                        "documentBase64": "{{25.data}}",
                                        "documentId": "1",
                                        "fileExtension": "pdf",
                                        "display": "inline"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 750
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My DocuSign connection (mrlmbrown247@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "docusign"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "select_account": {
                                            "label": "Lennis Brown"
                                        },
                                        "status": {
                                            "mode": "chose"
                                        },
                                        "recipients": {
                                            "nested": {
                                                "Signers": {
                                                    "mode": "chose",
                                                    "items": [
                                                        {
                                                            "addAccessCodeToEmail": {
                                                                "mode": "chose"
                                                            },
                                                            "tabs": {
                                                                "nested": {
                                                                    "textTabs": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "dateSignedTabs": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "signHereTabs": {
                                                                        "mode": "chose"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    ]
                                                }
                                            }
                                        },
                                        "documents": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "fileExtension": {
                                                        "mode": "chose",
                                                        "label": "pdf"
                                                    },
                                                    "display": {
                                                        "mode": "chose",
                                                        "label": "No"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:docusign",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select_account",
                                        "type": "select",
                                        "label": "Account",
                                        "required": true
                                    },
                                    {
                                        "name": "status",
                                        "type": "boolean",
                                        "label": "Draft",
                                        "required": true
                                    },
                                    {
                                        "name": "recipients",
                                        "type": "collection",
                                        "label": "Recipients",
                                        "spec": [
                                            {
                                                "name": "Signers",
                                                "type": "array",
                                                "required": true,
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "email",
                                                        "label": "Email",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "recipientId",
                                                        "type": "text",
                                                        "label": "Recipient ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "addAccessCodeToEmail",
                                                        "type": "boolean",
                                                        "label": "Add Access Code",
                                                        "nested": [
                                                            {
                                                                "name": "accessCode",
                                                                "type": "text",
                                                                "label": "Access Code"
                                                            }
                                                        ],
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "note",
                                                        "type": "text",
                                                        "label": "Note",
                                                        "validate": {
                                                            "max": 1000
                                                        }
                                                    },
                                                    {
                                                        "name": "tabs",
                                                        "spec": [
                                                            {
                                                                "name": "textTabs",
                                                                "spec": [
                                                                    {
                                                                        "name": "tabLabel",
                                                                        "type": "text",
                                                                        "label": "Tab Label"
                                                                    },
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "Value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Text Tabs"
                                                            },
                                                            {
                                                                "name": "dateSignedTabs",
                                                                "spec": [
                                                                    {
                                                                        "name": "anchorString",
                                                                        "type": "text",
                                                                        "label": "Anchor String"
                                                                    },
                                                                    {
                                                                        "name": "anchorUnits",
                                                                        "type": "text",
                                                                        "label": "Anchor Units"
                                                                    },
                                                                    {
                                                                        "name": "tabLabel",
                                                                        "type": "text",
                                                                        "label": "Tab Label"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Date Signed Tabs"
                                                            },
                                                            {
                                                                "name": "signHereTabs",
                                                                "spec": [
                                                                    {
                                                                        "name": "xPosition",
                                                                        "type": "uinteger",
                                                                        "label": "X Position",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "yPosition",
                                                                        "type": "uinteger",
                                                                        "label": "Y Position",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "documentId",
                                                                        "type": "text",
                                                                        "label": "Document ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "recipientId",
                                                                        "type": "text",
                                                                        "label": "Recipient ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "pageNumber",
                                                                        "type": "uinteger",
                                                                        "label": "Page Number",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "SignHere Tabs"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Tabs"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "emailSubject",
                                        "type": "text",
                                        "label": "Subject",
                                        "required": true
                                    },
                                    {
                                        "name": "emailBlurb",
                                        "type": "text",
                                        "label": "Message",
                                        "validate": {
                                            "max": 10000
                                        }
                                    },
                                    {
                                        "name": "documents",
                                        "type": "array",
                                        "label": "Documents",
                                        "required": true,
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "filename",
                                                "label": "Document name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "documentBase64",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "documentId",
                                                "type": "text",
                                                "label": "Document ID",
                                                "required": true
                                            },
                                            {
                                                "name": "fileExtension",
                                                "type": "select",
                                                "label": "File Extension",
                                                "options": [
                                                    {
                                                        "label": "doc",
                                                        "value": "doc"
                                                    },
                                                    {
                                                        "label": "docm",
                                                        "value": "docm"
                                                    },
                                                    {
                                                        "label": "docx",
                                                        "value": "docx"
                                                    },
                                                    {
                                                        "label": "dot",
                                                        "value": "dot"
                                                    },
                                                    {
                                                        "label": "dotm",
                                                        "value": "dotm"
                                                    },
                                                    {
                                                        "label": "dotx",
                                                        "value": "dotx"
                                                    },
                                                    {
                                                        "label": "htm",
                                                        "value": "htm"
                                                    },
                                                    {
                                                        "label": "html",
                                                        "value": "html"
                                                    },
                                                    {
                                                        "label": "msg",
                                                        "value": "msg"
                                                    },
                                                    {
                                                        "label": "pdf",
                                                        "value": "pdf"
                                                    },
                                                    {
                                                        "label": "rtf",
                                                        "value": "rtf"
                                                    },
                                                    {
                                                        "label": "txt",
                                                        "value": "txt"
                                                    },
                                                    {
                                                        "label": "wpd",
                                                        "value": "wpd"
                                                    },
                                                    {
                                                        "label": "xhtml",
                                                        "value": "xhtml"
                                                    },
                                                    {
                                                        "label": "xps",
                                                        "value": "xps"
                                                    },
                                                    {
                                                        "label": "bmp",
                                                        "value": "bmp"
                                                    },
                                                    {
                                                        "label": "gif",
                                                        "value": "gif"
                                                    },
                                                    {
                                                        "label": "heic",
                                                        "value": "heic"
                                                    },
                                                    {
                                                        "label": "jpg",
                                                        "value": "jpg"
                                                    },
                                                    {
                                                        "label": "jpeg",
                                                        "value": "jpeg"
                                                    },
                                                    {
                                                        "label": "png",
                                                        "value": "png"
                                                    },
                                                    {
                                                        "label": "tif",
                                                        "value": "tif"
                                                    },
                                                    {
                                                        "label": "tiff",
                                                        "value": "tiff"
                                                    },
                                                    {
                                                        "label": "pot",
                                                        "value": "pot"
                                                    },
                                                    {
                                                        "label": "potx",
                                                        "value": "potx"
                                                    },
                                                    {
                                                        "label": "pps",
                                                        "value": "pps"
                                                    },
                                                    {
                                                        "label": "ppt",
                                                        "value": "ppt"
                                                    },
                                                    {
                                                        "label": "pptm",
                                                        "value": "pptm"
                                                    },
                                                    {
                                                        "label": "pptx",
                                                        "value": "pptx"
                                                    },
                                                    {
                                                        "label": "csv",
                                                        "value": "csv"
                                                    },
                                                    {
                                                        "label": "xls",
                                                        "value": "xls"
                                                    },
                                                    {
                                                        "label": "xlsm",
                                                        "value": "xlsm"
                                                    },
                                                    {
                                                        "label": "xlsx",
                                                        "value": "xlsx"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "display",
                                                "type": "select",
                                                "label": "Is supplemental document",
                                                "options": [
                                                    {
                                                        "label": "Yes",
                                                        "value": "modal"
                                                    },
                                                    {
                                                        "label": "No",
                                                        "value": "inline"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "externalEnvelopeId",
                                        "type": "text",
                                        "label": "External Envelope ID"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 31,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1800,
                                            "y": 900
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 19,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 6505404,
                                "saveAfterSent": false
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "makeautomationstester@gmail.com"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Hi {{2.`0`}},\n<br><br>\nCongratulations on completing {{2.`2`}}<b></b>!<br>\nYour signed certificate is attached to this email. <br><br>\nBest regards,<br>\nYour Course Team\n",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "Your {{2.`2`}} certificate is ready",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [],
                                "contentType": "html"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "HTML"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "microsoft-smtp-imap"
                                            },
                                            "label": "My Microsoft SMTP/IMAP OAuth connection (lennismbrown@gmail.com)"
                                        },
                                        "saveAfterSent": {
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 20,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6285186
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{2.`0`}}",
                                    "1": "{{2.`1`}}",
                                    "2": "{{2.`2`}}",
                                    "3": "{{2.`3`}}",
                                    "4": "{{2.`4`}}",
                                    "5": "{{2.`5`}}",
                                    "6": "{{2.`6`}}",
                                    "7": "{{2.`7`}}",
                                    "8": "{{2.`8`}}",
                                    "9": "{{formatDate(now; \" \"\"MM/DD/YYYY\"\"\")}}"
                                },
                                "sheetId": "Sheet1",
                                "rowNumber": "{{2.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "/1b_N_l3DEBAgzgcKoFZG4D8alyvYXZijjX1yEzMzN39Y",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Student Engagement"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Student Name (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Email (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Course Name (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Progress % (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Last Activity Date (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Days Inactive (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Status (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Enrolled Date (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Student ID (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Completion Date (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (lennismbrown@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Student Name (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Email (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Course Name (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Progress % (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Last Activity Date (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Days Inactive (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Status (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Enrolled Date (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Student ID (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Completion Date (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 22,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 6525243
                            },
                            "mapper": {
                                "text": "New DocuSign envelope sent for {{2.`0`}}",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "C0A28AUAK7F",
                                "channelType": "public",
                                "channelWType": "list"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "student-engagment-completion"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Public channel"
                                        },
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack2"
                                            },
                                            "label": "Slack Connector for Make Automations(DevOps) (slackdevsd09tddr214k.slack.com - lennismbrown)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "Public channel",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}