make-blueprints/make- scenario JSON files/Instructor Onboarding Automation.blueprint.json
{
    "name": "Instructor Onboarding Automation",
    "flow": [
        {
            "id": 33,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 8,
                "sheetId": "Sheet1",
                "__IMTCONN__": 6285186,
                "spreadsheetId": "/17P7d1Ufrzb__XmS45oMwLc6M8dVwD-UwqFgHzv1ePas",
                "tableFirstRow": "A1:H1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -79,
                    "y": 596
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (lennismbrown@gmail.com)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Instructors"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "First Name (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Last Name (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Work Email (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Job Title  (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Department (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Hire Date (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Employee ID (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Status (H)"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "Trigger only for Corporate Trainers",
                "conditions": [
                    [
                        {
                            "a": "{{33.`3`}}",
                            "b": "Instructor",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "google-docs:createADocument",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6285186
                            },
                            "mapper": {
                                "name": "Udemy Onboarding - {{{{33.`0`}}}} {{{{33.`1`}}}}",
                                "footer": false,
                                "header": false,
                                "content": "Welcome to the Udemy instructor community {{33.`1`}} {{33.`1`}}!\n\r\nThis document is your step‑by‑step guide to the automated onboarding journey that begins as soon as your status is updated to “Approved” in our HR system on {{33.`5`}}. As a {{33.`3`}} joining our instructor team, you will move through a streamlined process designed to handle the administrative work for you so you can focus on creating exceptional learning experiences.\r\n\r\nYour onboarding starts with formalizing our partnership. A personalized instructor agreement is generated for you using a secure Google Docs template and sent to{{33.`2`}} for electronic signature via DocuSign. At the same time, our internal team is notified so they can monitor the process and support you as needed. Signing this agreement promptly is the key to unlocking the next steps in your onboarding.\r\n\r\nOnce your contract is signed, our systems begin setting you up for success by activating your core accounts and tools. An instructor account is created for you in our Learning Management System, giving you access to course‑building features and resources. A payout profile is configured for you in Stripe so you can receive course payments smoothly and on time. You are also provided with a dedicated folder in Google Drive to organize your course materials, lesson plans, and other essential resources.\r\n\r\nAs your accounts come online, we also focus on communication and ongoing support. You will receive an official welcome email from Udemy at {{33.`2`}} that summarizes your next steps and shares helpful links. At the same time, a profile for you is created in our internal CRM so we can keep track of your teaching focus and share relevant opportunities, platform updates, and best practices tailored to your goals.\r\n\r\nYour automated onboarding can be summarized in three main stages: completing your contract, activating your account setup, and receiving our official communications. Your first and most important action is to locate the email from DocuSign in your inbox and sign your instructor agreement. Once that is complete, our partnership officially begins, and we look forward to supporting you as you build and deliver impactful learning experiences on Udemy.",
                                "folderId": "/1iuGmHZd8NHMM8gemewOAo8YwQl9PlM6a",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "Udemy / Instructors Onboarding / Contracts"
                                            ]
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (lennismbrown@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "header",
                                        "type": "boolean",
                                        "label": "Insert a Header",
                                        "required": true
                                    },
                                    {
                                        "name": "footer",
                                        "type": "boolean",
                                        "label": "Insert a Footer",
                                        "required": true
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "New Document's Location",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 25,
                            "module": "google-docs:exportADocument",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6285186
                            },
                            "mapper": {
                                "document": "{{3.id}}",
                                "mimeType": "application/pdf",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "document": {
                                            "mode": "edit",
                                            "path": []
                                        },
                                        "mimeType": {
                                            "mode": "chose",
                                            "label": "PDF Document (.pdf)"
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (lennismbrown@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "mimeType",
                                        "type": "select",
                                        "label": "Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                                "application/vnd.oasis.opendocument.text",
                                                "application/rtf",
                                                "application/pdf",
                                                "text/plain",
                                                "text/html",
                                                "application/epub+zip"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "document",
                                        "type": "file",
                                        "label": "Document ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "docusign:CreateEnvelope",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6485907
                            },
                            "mapper": {
                                "status": false,
                                "documents": [
                                    {
                                        "name": "{{25.filename}}",
                                        "display": "inline",
                                        "documentId": "1",
                                        "fileExtension": "pdf",
                                        "documentBase64": "{{25.data}}"
                                    }
                                ],
                                "emailBlurb": "Hi {{33.`0`}} {{33.`1`}},\n\r\nWelcome to the Udemy Instructor Program!\r\n\r\nPlease review and sign your Instructor Agreement. If you have any questions, reply to this email and our team will assist you.\r\n\r\nThank you,\r\nUdemy Team\r\n",
                                "recipients": {
                                    "Signers": [
                                        {
                                            "name": "{{33.`0`}} {{33.`1`}}",
                                            "tabs": {},
                                            "email": "{{33.`2`}}",
                                            "recipientId": "1",
                                            "addAccessCodeToEmail": false
                                        }
                                    ]
                                },
                                "emailSubject": "Udemy Instructor Agreement – Signature Required",
                                "select_account": "{ \"accountId\": \"4c7ce306-2889-413b-8cd5-03e7fee4eceb\", \"baseUri\": \"https://demo.docusign.net\" }"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "status": {
                                            "mode": "chose"
                                        },
                                        "documents": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "display": {
                                                        "mode": "chose",
                                                        "label": "No"
                                                    },
                                                    "fileExtension": {
                                                        "mode": "chose",
                                                        "label": "pdf"
                                                    }
                                                }
                                            ]
                                        },
                                        "recipients": {
                                            "nested": {
                                                "Signers": {
                                                    "mode": "chose",
                                                    "items": [
                                                        {
                                                            "tabs": {
                                                                "nested": {
                                                                    "textTabs": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "signHereTabs": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "dateSignedTabs": {
                                                                        "mode": "chose"
                                                                    }
                                                                }
                                                            },
                                                            "addAccessCodeToEmail": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    ]
                                                }
                                            }
                                        },
                                        "select_account": {
                                            "label": "Lennis Brown"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "docusign"
                                            },
                                            "label": "My DocuSign connection (mrlmbrown247@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:docusign",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select_account",
                                        "type": "select",
                                        "label": "Account",
                                        "required": true
                                    },
                                    {
                                        "name": "status",
                                        "type": "boolean",
                                        "label": "Draft",
                                        "required": true
                                    },
                                    {
                                        "name": "recipients",
                                        "spec": [
                                            {
                                                "name": "Signers",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "email",
                                                        "label": "Email",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "recipientId",
                                                        "type": "text",
                                                        "label": "Recipient ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "addAccessCodeToEmail",
                                                        "type": "boolean",
                                                        "label": "Add Access Code",
                                                        "nested": [
                                                            {
                                                                "name": "accessCode",
                                                                "type": "text",
                                                                "label": "Access Code"
                                                            }
                                                        ],
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "note",
                                                        "type": "text",
                                                        "label": "Note",
                                                        "validate": {
                                                            "max": 1000
                                                        }
                                                    },
                                                    {
                                                        "name": "tabs",
                                                        "spec": [
                                                            {
                                                                "name": "textTabs",
                                                                "spec": [
                                                                    {
                                                                        "name": "tabLabel",
                                                                        "type": "text",
                                                                        "label": "Tab Label"
                                                                    },
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "Value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Text Tabs"
                                                            },
                                                            {
                                                                "name": "dateSignedTabs",
                                                                "spec": [
                                                                    {
                                                                        "name": "anchorString",
                                                                        "type": "text",
                                                                        "label": "Anchor String"
                                                                    },
                                                                    {
                                                                        "name": "anchorUnits",
                                                                        "type": "text",
                                                                        "label": "Anchor Units"
                                                                    },
                                                                    {
                                                                        "name": "tabLabel",
                                                                        "type": "text",
                                                                        "label": "Tab Label"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Date Signed Tabs"
                                                            },
                                                            {
                                                                "name": "signHereTabs",
                                                                "spec": [
                                                                    {
                                                                        "name": "xPosition",
                                                                        "type": "uinteger",
                                                                        "label": "X Position",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "yPosition",
                                                                        "type": "uinteger",
                                                                        "label": "Y Position",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "documentId",
                                                                        "type": "text",
                                                                        "label": "Document ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "recipientId",
                                                                        "type": "text",
                                                                        "label": "Recipient ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "pageNumber",
                                                                        "type": "uinteger",
                                                                        "label": "Page Number",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "SignHere Tabs"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Tabs"
                                                    }
                                                ],
                                                "type": "array",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Recipients"
                                    },
                                    {
                                        "name": "emailSubject",
                                        "type": "text",
                                        "label": "Subject",
                                        "required": true
                                    },
                                    {
                                        "name": "emailBlurb",
                                        "type": "text",
                                        "label": "Message",
                                        "validate": {
                                            "max": 10000
                                        }
                                    },
                                    {
                                        "name": "documents",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "filename",
                                                "label": "Document name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "documentBase64",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "documentId",
                                                "type": "text",
                                                "label": "Document ID",
                                                "required": true
                                            },
                                            {
                                                "name": "fileExtension",
                                                "type": "select",
                                                "label": "File Extension",
                                                "options": [
                                                    {
                                                        "label": "doc",
                                                        "value": "doc"
                                                    },
                                                    {
                                                        "label": "docm",
                                                        "value": "docm"
                                                    },
                                                    {
                                                        "label": "docx",
                                                        "value": "docx"
                                                    },
                                                    {
                                                        "label": "dot",
                                                        "value": "dot"
                                                    },
                                                    {
                                                        "label": "dotm",
                                                        "value": "dotm"
                                                    },
                                                    {
                                                        "label": "dotx",
                                                        "value": "dotx"
                                                    },
                                                    {
                                                        "label": "htm",
                                                        "value": "htm"
                                                    },
                                                    {
                                                        "label": "html",
                                                        "value": "html"
                                                    },
                                                    {
                                                        "label": "msg",
                                                        "value": "msg"
                                                    },
                                                    {
                                                        "label": "pdf",
                                                        "value": "pdf"
                                                    },
                                                    {
                                                        "label": "rtf",
                                                        "value": "rtf"
                                                    },
                                                    {
                                                        "label": "txt",
                                                        "value": "txt"
                                                    },
                                                    {
                                                        "label": "wpd",
                                                        "value": "wpd"
                                                    },
                                                    {
                                                        "label": "xhtml",
                                                        "value": "xhtml"
                                                    },
                                                    {
                                                        "label": "xps",
                                                        "value": "xps"
                                                    },
                                                    {
                                                        "label": "bmp",
                                                        "value": "bmp"
                                                    },
                                                    {
                                                        "label": "gif",
                                                        "value": "gif"
                                                    },
                                                    {
                                                        "label": "heic",
                                                        "value": "heic"
                                                    },
                                                    {
                                                        "label": "jpg",
                                                        "value": "jpg"
                                                    },
                                                    {
                                                        "label": "jpeg",
                                                        "value": "jpeg"
                                                    },
                                                    {
                                                        "label": "png",
                                                        "value": "png"
                                                    },
                                                    {
                                                        "label": "tif",
                                                        "value": "tif"
                                                    },
                                                    {
                                                        "label": "tiff",
                                                        "value": "tiff"
                                                    },
                                                    {
                                                        "label": "pot",
                                                        "value": "pot"
                                                    },
                                                    {
                                                        "label": "potx",
                                                        "value": "potx"
                                                    },
                                                    {
                                                        "label": "pps",
                                                        "value": "pps"
                                                    },
                                                    {
                                                        "label": "ppt",
                                                        "value": "ppt"
                                                    },
                                                    {
                                                        "label": "pptm",
                                                        "value": "pptm"
                                                    },
                                                    {
                                                        "label": "pptx",
                                                        "value": "pptx"
                                                    },
                                                    {
                                                        "label": "csv",
                                                        "value": "csv"
                                                    },
                                                    {
                                                        "label": "xls",
                                                        "value": "xls"
                                                    },
                                                    {
                                                        "label": "xlsm",
                                                        "value": "xlsm"
                                                    },
                                                    {
                                                        "label": "xlsx",
                                                        "value": "xlsx"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "display",
                                                "type": "select",
                                                "label": "Is supplemental document",
                                                "options": [
                                                    {
                                                        "label": "Yes",
                                                        "value": "modal"
                                                    },
                                                    {
                                                        "label": "No",
                                                        "value": "inline"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Documents",
                                        "required": true
                                    },
                                    {
                                        "name": "externalEnvelopeId",
                                        "type": "text",
                                        "label": "External Envelope ID"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 35,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1500,
                                            "y": 300
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 30,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 6525243
                            },
                            "mapper": {
                                "text": "New instructor onboarded: {{33.`0`}} {{33.`1`}} {{33.`2`}}{{33.`3`}}{{33.`6`}}",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "C09UE52CG4Q",
                                "channelType": "public",
                                "channelWType": "list"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "new-instructor"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Public channel"
                                        },
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack2"
                                            },
                                            "label": "Slack Connector for Make Automations(DevOps) (slackdevsd09tddr214k.slack.com - lennismbrown)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "Public channel",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "canvas-lms:makeApiCall",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": "{{var.input.CanvasLMSConnection}}"
                            },
                            "mapper": {
                                "url": "https://canvas.instructure.com/courses/13582973",
                                "body": "{\r\n  \"user\": {\r\n    \"name\": \"{{{{33.`0`}}}}  {{{{33.`1`}}\",\r\n    \"short_name\": \"{{{{33.`0`}}}}\",\r\n    \"sortable_name\": \"{{{{33.`1`}}}}, {{{{33.`0`}}}}\"\r\n  },\r\n  \"pseudonym\": {\r\n    \"unique_id\": \"{{{{33.`2`}}}}\"\r\n  },\r\n  \"communication_channel\": {\r\n    \"type\": \"email\",\r\n    \"address\": \"{{{{33.`2`}}}}\"\r\n  }\r\n}",
                                "method": "POST",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 617,
                                    "y": 603
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "edit"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "canvas-lms"
                                            },
                                            "label": "CanvasLMSConnectionEditMy Canvas connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:canvas-lms",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 34,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "filter": {
                                        "name": "Catch RuntimeError",
                                        "conditions": [
                                            [
                                                {
                                                    "a": "{{18.error.type}}",
                                                    "b": "RuntimeError",
                                                    "o": "text:equal"
                                                }
                                            ]
                                        ]
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 883,
                                            "y": 737
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 32,
                            "module": "stripe:createCustomer",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6551910
                            },
                            "mapper": {
                                "name": "{{{{33.`0`}}}} {{{{33.`1`}}}}",
                                "email": "{{33.`2`}}",
                                "phone": "",
                                "coupon": "",
                                "source": "",
                                "address": {
                                    "city": "",
                                    "line1": "",
                                    "line2": "",
                                    "state": "",
                                    "country": "",
                                    "postal_code": ""
                                },
                                "balance": "",
                                "metadata": [
                                    {
                                        "key": "{{`33`}}",
                                        "value": "{{{{33.`6`}}}}"
                                    },
                                    {
                                        "key": "job_title",
                                        "value": "{{{{33.`3`}}}}"
                                    },
                                    {
                                        "key": "department",
                                        "value": "{{{{33.`4`}}}}"
                                    }
                                ],
                                "shipping": {
                                    "name": "",
                                    "phone": "",
                                    "address": {
                                        "city": "",
                                        "line1": "",
                                        "line2": "",
                                        "state": "",
                                        "country": "",
                                        "postal_code": ""
                                    }
                                },
                                "tax_exempt": "",
                                "description": "Udemy Instructor – {{{{33.`0`}}}} {{{{33.`1`}} - {{{{33.`3`}}}}",
                                "tax_id_data": [],
                                "invoice_prefix": "",
                                "payment_method": "",
                                "promotion_code": "",
                                "invoice_settings": {
                                    "footer": "",
                                    "custom_fields": [],
                                    "default_payment_method": ""
                                },
                                "preferred_locales": [],
                                "next_invoice_sequence": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 894,
                                    "y": 451
                                },
                                "restore": {
                                    "expect": {
                                        "coupon": {
                                            "mode": "edit"
                                        },
                                        "metadata": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null,
                                                null
                                            ]
                                        },
                                        "shipping": {
                                            "collapsed": true
                                        },
                                        "tax_exempt": {
                                            "label": "Empty"
                                        },
                                        "promotion_code": {
                                            "mode": "edit"
                                        },
                                        "invoice_settings": {
                                            "nested": {
                                                "custom_fields": {
                                                    "mode": "chose"
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "stripe"
                                            },
                                            "label": "My Stripe API Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:stripe,stripe2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "email",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "phone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "address",
                                        "spec": [
                                            {
                                                "name": "line1",
                                                "type": "text",
                                                "label": "Line 1"
                                            },
                                            {
                                                "name": "line2",
                                                "type": "text",
                                                "label": "Line 2"
                                            },
                                            {
                                                "name": "city",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "country",
                                                "type": "text",
                                                "label": "Country"
                                            },
                                            {
                                                "name": "postal_code",
                                                "type": "text",
                                                "label": "Postal code"
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": "State"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Address"
                                    },
                                    {
                                        "name": "shipping",
                                        "spec": [
                                            {
                                                "name": "address",
                                                "spec": [
                                                    {
                                                        "name": "line1",
                                                        "type": "text",
                                                        "label": "Line 1"
                                                    },
                                                    {
                                                        "name": "line2",
                                                        "type": "text",
                                                        "label": "Line 2"
                                                    },
                                                    {
                                                        "name": "city",
                                                        "type": "text",
                                                        "label": "City"
                                                    },
                                                    {
                                                        "name": "country",
                                                        "type": "text",
                                                        "label": "Country"
                                                    },
                                                    {
                                                        "name": "postal_code",
                                                        "type": "text",
                                                        "label": "Postal code"
                                                    },
                                                    {
                                                        "name": "state",
                                                        "type": "text",
                                                        "label": "State"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Address"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "phone",
                                                "type": "text",
                                                "label": "Phone"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Shipping"
                                    },
                                    {
                                        "name": "payment_method",
                                        "type": "text",
                                        "label": "Payment Method ID"
                                    },
                                    {
                                        "name": "metadata",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 40
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 500
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Metadata",
                                        "validate": {
                                            "maxItems": 50
                                        }
                                    },
                                    {
                                        "name": "balance",
                                        "type": "integer",
                                        "label": "Balance"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "coupon",
                                        "type": "select",
                                        "label": "Coupon ID"
                                    },
                                    {
                                        "name": "invoice_prefix",
                                        "type": "text",
                                        "label": "Invoice Prefix",
                                        "validate": {
                                            "max": 12,
                                            "min": 3
                                        }
                                    },
                                    {
                                        "name": "invoice_settings",
                                        "spec": [
                                            {
                                                "name": "custom_fields",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 30
                                                        }
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 30
                                                        }
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Custom Fields"
                                            },
                                            {
                                                "name": "default_payment_method",
                                                "type": "text",
                                                "label": "Default Payment Method ID"
                                            },
                                            {
                                                "name": "footer",
                                                "type": "text",
                                                "label": "Footer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Invoice Settings"
                                    },
                                    {
                                        "name": "next_invoice_sequence",
                                        "type": "uinteger",
                                        "label": "Next Invoice Sequence"
                                    },
                                    {
                                        "name": "preferred_locales",
                                        "spec": {
                                            "name": "value",
                                            "type": "select",
                                            "label": "Locale",
                                            "options": [
                                                {
                                                    "label": "Arabic",
                                                    "value": "ar"
                                                },
                                                {
                                                    "label": "Bulgarian (Bulgaria)",
                                                    "value": "bg"
                                                },
                                                {
                                                    "label": "Czech (Czech Republic)",
                                                    "value": "cs"
                                                },
                                                {
                                                    "label": "Danish",
                                                    "value": "da"
                                                },
                                                {
                                                    "label": "German (Germany)",
                                                    "value": "de"
                                                },
                                                {
                                                    "label": "Greek (Greece)",
                                                    "value": "el"
                                                },
                                                {
                                                    "label": "English",
                                                    "value": "en"
                                                },
                                                {
                                                    "label": "English (United Kingdom)",
                                                    "value": "en-GB"
                                                },
                                                {
                                                    "label": "Spanish (Spain)",
                                                    "value": "es"
                                                },
                                                {
                                                    "label": "Spanish (Latin America)",
                                                    "value": "es-419"
                                                },
                                                {
                                                    "label": "Estonian (Estonia)",
                                                    "value": "et"
                                                },
                                                {
                                                    "label": "Finnish (Finland)",
                                                    "value": "fi"
                                                },
                                                {
                                                    "label": "French (France)",
                                                    "value": "fr"
                                                },
                                                {
                                                    "label": "French (Canada)",
                                                    "value": "fr-CA"
                                                },
                                                {
                                                    "label": "Hebrew (Israel)",
                                                    "value": "he"
                                                },
                                                {
                                                    "label": "Hungarian (Hungary)",
                                                    "value": "hu"
                                                },
                                                {
                                                    "label": "Indonesian (Indonesia)",
                                                    "value": "id"
                                                },
                                                {
                                                    "label": "Italian (Italy)",
                                                    "value": "it"
                                                },
                                                {
                                                    "label": "Japanese",
                                                    "value": "ja"
                                                },
                                                {
                                                    "label": "Lithuanian (Lithuania)",
                                                    "value": "lt"
                                                },
                                                {
                                                    "label": "Latvian (Latvia)",
                                                    "value": "lv"
                                                },
                                                {
                                                    "label": "Malay (Malaysia)",
                                                    "value": "ms"
                                                },
                                                {
                                                    "label": "Maltese (Malta)",
                                                    "value": "mt"
                                                },
                                                {
                                                    "label": "Norwegian Bokmål",
                                                    "value": "nb"
                                                },
                                                {
                                                    "label": "Dutch (Netherlands)",
                                                    "value": "nl"
                                                },
                                                {
                                                    "label": "Polish (Poland)",
                                                    "value": "pl"
                                                },
                                                {
                                                    "label": "Portuguese (Brazil)",
                                                    "value": "pt-BR"
                                                },
                                                {
                                                    "label": "Portuguese (Brazil)",
                                                    "value": "pt"
                                                },
                                                {
                                                    "label": "Romanian (Romania)",
                                                    "value": "ro"
                                                },
                                                {
                                                    "label": "Russian (Russia)",
                                                    "value": "ru"
                                                },
                                                {
                                                    "label": "Slovak (Slovakia)",
                                                    "value": "sk"
                                                },
                                                {
                                                    "label": "Slovenian (Slovenia)",
                                                    "value": "sl"
                                                },
                                                {
                                                    "label": "Swedish (Sweden)",
                                                    "value": "sv"
                                                },
                                                {
                                                    "label": "Turkish (Turkey)",
                                                    "value": "tr"
                                                },
                                                {
                                                    "label": "Chinese Simplified (China)",
                                                    "value": "zh"
                                                },
                                                {
                                                    "label": "Chinese Traditional (Hong Kong)",
                                                    "value": "zh-HK"
                                                },
                                                {
                                                    "label": "Chinese Traditional (Taiwan)",
                                                    "value": "zh-TW"
                                                }
                                            ],
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "Preferred Locales"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "promotion_code",
                                        "type": "select",
                                        "label": "Promotion Code ID"
                                    },
                                    {
                                        "name": "source",
                                        "type": "text",
                                        "label": "Source ID"
                                    },
                                    {
                                        "name": "tax_exempt",
                                        "type": "select",
                                        "label": "Tax Exempt",
                                        "validate": {
                                            "enum": [
                                                "none",
                                                "exempt",
                                                "reverse"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tax_id_data",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "dynamic": true,
                                                "options": [
                                                    {
                                                        "label": "AE - TRN",
                                                        "value": "ae_trn"
                                                    },
                                                    {
                                                        "label": "AU - ABN",
                                                        "value": "au_abn"
                                                    },
                                                    {
                                                        "label": "AU - ARN",
                                                        "value": "au_arn"
                                                    },
                                                    {
                                                        "label": "BR - CNPJ",
                                                        "value": "br_cnpj"
                                                    },
                                                    {
                                                        "label": "BR - CPF",
                                                        "value": "br_cpf"
                                                    },
                                                    {
                                                        "label": "CA - BN",
                                                        "value": "ca_bn"
                                                    },
                                                    {
                                                        "label": "CA - GST/HST",
                                                        "value": "ca_gst_hst"
                                                    },
                                                    {
                                                        "label": "CA - PST (British Columbia)",
                                                        "value": "ca_pst_bc"
                                                    },
                                                    {
                                                        "label": "CA - PST (Manitoba)",
                                                        "value": "ca_pst_mb"
                                                    },
                                                    {
                                                        "label": "CA - PST (Saskatchewan)",
                                                        "value": "ca_pst_sk"
                                                    },
                                                    {
                                                        "label": "CA - QST",
                                                        "value": "ca_qst"
                                                    },
                                                    {
                                                        "label": "CH - VAT",
                                                        "value": "ch_vat"
                                                    },
                                                    {
                                                        "label": "CL - TIN",
                                                        "value": "cl_tin"
                                                    },
                                                    {
                                                        "label": "ES - CIF",
                                                        "value": "es_cif"
                                                    },
                                                    {
                                                        "label": "EU - VAT",
                                                        "value": "eu_vat"
                                                    },
                                                    {
                                                        "label": "UK - VAT",
                                                        "value": "gb_vat"
                                                    },
                                                    {
                                                        "label": "GE - VAT",
                                                        "value": "ge_vat"
                                                    },
                                                    {
                                                        "label": "HK - BR",
                                                        "value": "hk_br"
                                                    },
                                                    {
                                                        "label": "ID - NPWP",
                                                        "value": "id_npwp"
                                                    },
                                                    {
                                                        "label": "IL - VAT",
                                                        "value": "il_vat"
                                                    },
                                                    {
                                                        "label": "IN - GST",
                                                        "value": "in_gst"
                                                    },
                                                    {
                                                        "label": "JP - CN",
                                                        "value": "jp_cn"
                                                    },
                                                    {
                                                        "label": "JP - RN",
                                                        "value": "jp_rn"
                                                    },
                                                    {
                                                        "label": "KR - BRN",
                                                        "value": "kr_brn"
                                                    },
                                                    {
                                                        "label": "LI - UID",
                                                        "value": "li_uid"
                                                    },
                                                    {
                                                        "label": "MX - RFC",
                                                        "value": "mx_rfc"
                                                    },
                                                    {
                                                        "label": "MY - FRP",
                                                        "value": "my_frp"
                                                    },
                                                    {
                                                        "label": "MY - ITN",
                                                        "value": "my_itn"
                                                    },
                                                    {
                                                        "label": "MY - SST",
                                                        "value": "my_sst"
                                                    },
                                                    {
                                                        "label": "NO - VAT",
                                                        "value": "no_vat"
                                                    },
                                                    {
                                                        "label": "NZ - GST",
                                                        "value": "nz_gst"
                                                    },
                                                    {
                                                        "label": "RU - INN",
                                                        "value": "ru_inn"
                                                    },
                                                    {
                                                        "label": "RU - KPP",
                                                        "value": "ru_kpp"
                                                    },
                                                    {
                                                        "label": "SA - VAT",
                                                        "value": "sa_vat"
                                                    },
                                                    {
                                                        "label": "SG - GST",
                                                        "value": "sg_gst"
                                                    },
                                                    {
                                                        "label": "SG - UEN",
                                                        "value": "sg_uen"
                                                    },
                                                    {
                                                        "label": "TH - VAT",
                                                        "value": "th_vat"
                                                    },
                                                    {
                                                        "label": "TW - VAT",
                                                        "value": "tw_vat"
                                                    },
                                                    {
                                                        "label": "UA - VAT",
                                                        "value": "ua_vat"
                                                    },
                                                    {
                                                        "label": "US - EIN",
                                                        "value": "us_ein"
                                                    },
                                                    {
                                                        "label": "ZA - VAT",
                                                        "value": "za_vat"
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Tax ID",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "TAX ID Data"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 6505404,
                                "saveAfterSent": false
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{33.`2`}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Hi  {{33.`0`}} {{33.`1`}}\n\r\nWelcome to the Udemy Instructor Program!\r\n\r\nYour onboarding packet has been submitted and is now ready for your review.\r\n\r\nPlease check your email for:\r\n1. Your Google Doc onboarding file  \r\n2. Your DocuSign Instructor Agreement  \r\n3. Your CanvasLMS login credentials \n4. You will receive a separate email from Canvas with access to the Udemy Instructor Onboarding Course. \r\n\r\nIf you have any questions, reply to this email and our team will support you right away.\r\n\r\nThank you,  \r\nUdemy Team\r\n",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "Welcome to Udemy Instructor Onboarding",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [],
                                "contentType": "html"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 619,
                                    "y": 1034
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "HTML"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "microsoft-smtp-imap"
                                            },
                                            "label": "My Microsoft SMTP/IMAP OAuth connection (lennismbrown@gmail.com)"
                                        },
                                        "saveAfterSent": {
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "hubspotcrm:createCustomObject",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6553360
                            },
                            "mapper": {
                                "objectType": "2-222183686",
                                "properties": [
                                    {
                                        "key": "instructor_name",
                                        "value": "{{33.`0`}} {{33.`1`}}"
                                    },
                                    {
                                        "key": "first_name",
                                        "value": "{{33.`0`}}"
                                    },
                                    {
                                        "key": "last_name",
                                        "value": "{{33.`1`}}"
                                    },
                                    {
                                        "key": "work_email",
                                        "value": "{{33.`2`}}"
                                    },
                                    {
                                        "key": "job_title",
                                        "value": "{{33.`3`}}"
                                    },
                                    {
                                        "key": "department",
                                        "value": "{{33.`4`}}"
                                    },
                                    {
                                        "key": "employee_id",
                                        "value": "{{33.`6`}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 925,
                                    "y": 1030
                                },
                                "restore": {
                                    "expect": {
                                        "objectType": {
                                            "label": "instructors"
                                        },
                                        "properties": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "key": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                {
                                                    "key": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                {
                                                    "key": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                {
                                                    "key": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                {
                                                    "key": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                {
                                                    "key": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                {
                                                    "key": {
                                                        "mode": "edit"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "hubspotcrm"
                                            },
                                            "label": "My HubSpot CRM connection (lennismbrown@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:hubspotcrm",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "objectType",
                                        "type": "select",
                                        "label": "Object Schema",
                                        "required": true
                                    },
                                    {
                                        "name": "properties",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "select",
                                                "label": "Key",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Properties"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": [
            {
                "moduleIds": [
                    18
                ],
                "content": "<p><em>Canvas sandbox environment isn’t provisioned, so this route logs the error and continues. In a real deployment, this same module would create the instructor account in Canvas via API.</em></p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            }
        ]
    },
    "io": {
        "input_spec": [
            {
                "name": "CanvasLMSConnection",
                "type": "account:canvas-lms",
                "label": "",
                "scope": [],
                "default": 6611389
            }
        ],
        "output_spec": []
    }
}